global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'aws-sqs-observability'

scrape_configs:
  - job_name: 'spring-boot-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8080']
        labels:
          application: 'aws-sqs-observability'
          environment: 'local'
